@import '../../common/basics.sass'

.podcasts
  flex: 1
  margin-right: 240px
  padding: 0 3rem
  .audio-item
    margin: 0 0 .3rem
    width: 100%

    &--body
      // width: 100%
      padding: .3rem .6rem
      display: flex
      background: $light-grey
      cursor: pointer
    &--description
      // width: 100%
      padding: .5rem 1rem
      color: #444
      background: $light-grey
      margin-top: 1px

