@import '../../common/basics.sass'

.galleries
  flex: 5
  
  // margin-right: 240px
  padding: 0 3rem
  .gallery-item
    margin: 0 0 .3rem
    width: 100%
    

    &--body
      // width: 100%
      padding: .3rem .6rem
      // display: flex
      background: $light-grey
      cursor: pointer
      display: flex
      align-items: center
      justify-content: space-between
      .arrow
        transform: rotateZ(0deg)
        width: 20px
        height: 16px
        display: flex
        align-items: center
        font-size: 1.2rem
        color: $orange
        img
          width: 100%
        &.open
          transform: rotateZ(180deg)
  

    &--images
      padding: .5rem 1rem
      color: #444
      background: $light-grey
      margin-top: 1px
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr

      .gallery-img-wrapper 
        width: 70px
        height: 70px
        margin: 2px

        img
          width: 100%
          height: 100%
          object-fit: cover



    &--sub-item

      margin-left: .4rem
      padding-top: .3rem
    
.image-gallery
  position: fixed
  z-index: 10
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: rgba(black, .8)
  display: flex
  align-items: center
  justify-content: center
  color: white
  &--wrapper
    width: 70%
    height: 70%
    display: flex
    align-items: center
    justify-content: center
    &__image
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      img
        max-width: 100%