@import './components/common/basics.sass'
html
  // scroll-behavior: smooth
body
  margin: 0
  padding: 0 0 
  font:
    family: 'Open Sans'
    size: 14px
  background: $background-color
  // width: 100vw
  // overflow-y: scroll

.main-title
  color: $orange
  font:
    size: 1.2rem
    weight: normal
  text-transform: uppercase
  margin: .5rem 0
  // padding-bottom: 2rem
h1
  color: $orange
  font:
    size: 2rem
    weight: normal
  
  margin: .5rem 0

h3
  color: $orange
  margin-bottom: -.8rem

a
  color: $orange !important
.button-link
  color: $orange
  border: none
  background: none
  padding: 0
  cursor: pointer

audio
  height: 23px
  border-radius: none

.main-container
  display: flex
  flex-direction: row
  justify-content: space-between
  max-width: 1020px
  position: relative
  margin: 1.5rem auto
  // height: 150vh

  @media(max-width: 768px)
    display: block
    margin-bottom: 0

.alignright
  margin: 0
  img
    
    // margin: 0 !important
    float: right
    margin: auto 0 0 1rem
    display: inline
  
  @media(max-width: 768px)
    img
      float: none
      margin: 0
.alignleft
  margin: 0
  img
    
    // margin: 0 !important
    float: left
    margin: auto 1rem 0 0 
    display: inline

  @media(max-width: 768px)
    img
      float: none
      margin: 0
.map-responsive
  overflow: hidden
  padding-bottom: 56.25%
  position: relative
  height: 0

.map-responsive iframe
  left: 0
  top: 0
  height: 100%
  width: 100%
  position: absolute
  border:  none
